.mat-select-arrow {
    margin: 20px 2px
;
}
.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }
.asterisk-if-mandatory::after {
    content: " *";
    color: red;
}
  